{% extends 'app/base.html' %}

{% block content %}
<div class="container">
    <div class="my-5 mx-auto">
        <div class="signup_screen">
            <p class="page_title text-center">ログアウトしますか？</p>
            <form method="post" class="form-auth">
                {% csrf_token %}
                <div class="button mx-auto">
                    <button class="btn btn-lg btn-warning btn-block mx-auto" type="submit">ログアウト</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}